<!--nombre, dormitorios, linkpdf, linkvideo, linkimagen, propietario, baños -->
<div class="container" style="margin:10px auto">
    <div class="row">
        <div class="col-8">
            <div class="header">
                <h2>Modificar Personal</h2>
            </div>
        </div>
        <div class="col-4 text-end">
            <a class="btn btn-light" href="/personal">
                <i class="fa-solid fa-backward" style="color: #7a3fa1;"> Volver</i>
            </a>
        </div>
    </div>
    <div class="row">
        <form class="row g-3" action="/personal/modificar" method="post" enctype="multipart/form-data">
            <div class="col-md-6">
                <label for="nombre" class="form-label">Nombre</label>
                <input type="text" class="form-control" name="nombre" value="{{persona.nombre}}">
            </div>
            <div class="col-md-6">
                <label for="descripcion" class="form-label">Descripción</label>
                <input type="text" class="form-control" name="descripcion" value="{{persona.descripcion}}">
            </div>
            <div class="col-md-6">
                <label for="imagen" class="form-label">Imagen</label>
                <input type="file" class="form-control" name="imagen">
            </div>
            <div class="col-md-6">
                <label for="id" class="form-label">ID</label>
                <input type="text" class="form-control" name="id" value="{{persona.id}}">
            </div>
            <div class="col-md-3">
                <label for="imagenActual" class="form-label">Imagen actual: {{persona.linkimagen}}</label>
                <input type="hidden" class="form-control" name="imagenActual" value="{{persona.linkimagen}}">
            </div>
            <div class="col-3">
                <label><input type="checkbox" name="eliminarImagen" value="1">
                    Eliminar imagen actual?
                </label>
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-light">
                     <i class="fa-regular fa-calendar-plus" style="color: #7a3fa1;"> MODIFICAR</i>
                </button>
            </div>
        </form>
        {{#if error}}
        <p>{{mensaje}}</p>
        {{/if}}
    </div>
</div>