<div class="container" style="margin-top:20px">
    <!--Fila 1 -->
    <div class="row">
        <div class="col-8">
            <div class="header">
                <h2>User login: {{userName}}</h2>
            </div>
        </div>
        <div class="col-4 text-end">
            <a class="btn btn-light" href="/admin/principal">
                <i class="fa-solid fa-backward" style="color: #7a3fa1;"> Volver</i>
            </a>
        </div>
    </div>
    <!--Fila 2 -->
    <div class="row" style="margin-top:20px">
        <div class="col-8">
            <h2>Ingreso Villas</h2>
        </div>
        <div class="col-4 text-end">
            <a class="btn btn-light" href="/casas/agregar">
                <i class="fa-solid fa-house" style="color: #7a3fa1;"> NUEVA VILLA</i></a>
        </div>
    </div>
    <!--Fila 3 id, nombre, dormitorios, linkpdf, linkvideo, linkimagen, propietario, baños-->
</div>

<div class="row">
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr class="table-info">
                    <th scope="col">#</th>
                    <th>Imagen</th>
                    <th>Nombre</th>
                    <th>Dorm</th>
                    <th>Link pdf</th>
                    <th>Link Video</th>
                    <th>Prop</th>
                    <th>Baños</th>
                    <th>Vista</th>
                    <th>Area</th>
                    <th class="text-end">Acciones</th>
                </tr>
            </thead>
            <tbody>
                {{#each casas}}
                <tr>
                    <th scope="row">{{id}}</th>
                    <td>{{{imagen}}}</td>
                    <td>{{nombre}}</td>
                    <td>{{dormitorios}}</td>
                    <td>{{linkpdf}}</td>
                    <td>{{linkvideo}}</td>
                    <td>{{propietario}}</td>
                    <td>{{banos}}</td>
                    <td>{{vista}}</td>
                    <td>{{area}}</td>
                    <td class="text-end">
                        <a class="btn btn-light" href="/casas/modificar/{{id}}">
                            <i class="fa fa-pencil" style="color: #7a3fa1;" aria-hidden="true"></i>
                        </a>
                        <a class="btn btn-light" href="/casas/delete/{{id}}">
                            <i class="fa fa-trash" style="color: #7a3fa1;" aria-hidden="true"></i>
                        </a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>